.container {
  width: 100%;
  max-width: 1200px;
  -webkit-box-shadow: 20px 20px 5px -20px rgba(0,0,0,0.75);
  -moz-box-shadow: 20px 20px 5px -20px rgba(0,0,0,0.75);
  box-shadow: 20px 20px 5px -20px rgba(0,0,0,0.75);
  margin-bottom: 20px;
  border: 1px solid gray;
  margin-top: 2px;
}

.banner {
  width: 100%;
}

.form-control {
  max-width: 300px;
}

.municipio{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  font-weight: 1000;
}

.pregunta {
  width: 25%;
  margin: 10px;
  padding: 5px;
  border: 1px solid gray;
  flex: 0 1 14%;
  border-radius: 5px;

}

.preguntas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width:1024px) and (min-width:640px) {
  .pregunta {
    flex: 0 1 45%;
  }
}

@media screen and (max-width:640px) {
  .pregunta {
    flex: 0 1 90%;
  }
}
